<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand" href="#">Logo</a>

  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" (click)="onSelectedProducts()"  >Home</a> <!--- routerLink="/products/1/0" -->
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link 2</a>
    </li>

    <!-- Dropdown -->
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        Products
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" (click)="onProductPromo()" >Promo </a>
        <a class="dropdown-item" (click)="onProductDispo()">Diponible </a>
      </div>
    </li>
  </ul>
</nav>
<div class="container">
  <div class="col-md-4">
    <ul class="list-group mt-4" *ngIf="categories">
      <li [ngClass]="currentCategorie == c ? 'active': '' " style="cursor: pointer;" (click)="getProductsByCat(c)" class="list-group-item" *ngFor="let c of categories._embedded.categories">
        {{ c.name }}
      </li>
    </ul>
  </div>
  <div class="col-md-9">
    <router-outlet> </router-outlet>
  </div>
</div>